{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Contact – firdous</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
  </nav>

  <div class="container">
    <h1>Contact</h1>

    <p>Whether you're a fellow student, potential collaborator, or just someone with a great idea — I’d love to hear from you! This form will send your message directly to me, and I’ll be sure to respond if needed.</p>

    <ul>
      <li> Email: <em>fpopal@holyfamily.edu</em></li>
      <li> Portfolio: <em>Coming soon to PythonAnywhere</em></li>
      <li> Location: Philadelphia, PA</li>
    </ul>

    <p><em>I look forward to connecting. Let’s build something creative and impactful!</em></p>

    <hr><br>

    {% if messages %}
      <ul>
        {% for message in messages %}
          <li style="background-color:#800020; padding:10px; border-radius:6px; color:white; margin-bottom:15px;">
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Message</button>
    </form>
  </div>
</body>
</html>

